node_modules
yarn-error.log

.DS_Store
.vscode
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# Build files
artifacts/
build/
cache/
dist/
deployments/*/.contracts
deployments/*/*/verify
deployments/*/*/aliases.json
forge/cache
forge/out

test-results.json
scenario-results.json
